body{
    background-image: url("../images/confectionary.png");
    font-family: monospace;
}
.jumbotron {
    background-color: tomato;
}
.btn-group-lg>.btn, .btn-lg {
    margin: 0 auto;
    width: 10%;
    height: 10%;
}

